<nav id="sidebar" class="navbar-dark bg-dark">
    <ul class="navbar-nav" style="padding:20px;">      
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home"><h5>Home</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/upload"><h5>Upload</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/search"><h5>Search</h5></a>
      </li>
    </ul>
  </nav>